<div style="width: 393px; height: 852px; position: relative; background: white">
    <div style="width: 298px; height: 128px; left: 47px; top: 360px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 248px; height: 84px; left: 72px; top: 385px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Inter; font-weight: 800; word-wrap: break-word">LOGO</div>
    <div style="width: 154px; height: 44px; left: 191px; top: 502px; position: absolute; text-align: right; color: black; font-size: 25px; font-family: Inter; font-weight: 500; word-wrap: break-word">차곡차곡</div>
  </div>